$Orange: #ff7d1a;
$Pale-orange: #ffede0;

$Very-dark-blue: #1d2025;
$Dark-grayish-blue: #68707d;
$Grayish-blue: #b6bcc8;
$Light-grayish-blue: #f7f8fd;
$White: hsl(0, 0%, 100%);
// $Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)
